<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Audio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Microphone Gain</string>
			<key>Key</key>
			<string>microphone_gain</string>
			<key>DefaultValue</key>
			<real>1.0</real>
			<key>MinimumValue</key>
			<real>0.5</real>
			<key>MaximumValue</key>
			<real>10.0</real>
			<key>MinimumValueTitle</key>
			<string>0.5x</string>
			<key>MaximumValueTitle</key>
			<string>10x</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Echo Cancellation</string>
			<key>Key</key>
			<string>echo_cancellation_enabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>FooterText</key>
			<string>Reduces feedback when using the speaker. Best results with headphones.</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>